.img-header {
    margin-left: 25px;
    width: 50px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 90px;
    margin: 0;
    border-bottom: solid .5px white;
    border-bottom-left-radius: 55%;
}

.menu__header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nombre {
    color: white;
    font-family: cursive;
    font-size: 2rem;
    margin: 0;
}

.menu__list {
    display: flex;
    margin: 0;
    gap: 30px;
    list-style: none;
    transition: 2s;
}

.menu__list__item {
    border-bottom: solid .5px transparent;
}

.menu__list__item:hover {
    border-bottom: solid .5px white;
}

.menu__list__item>a {
    color: white;
    text-decoration: none;
    transition: 2s;
}





/* --------------------------------------------------------------------------- */
/* -------------------MEDIA QUERYS - AJUSTE A PANTALLAS ---------------------- */
/* --------------------------------------------------------------------------- */
@media screen and (max-width: 1100px) {
    .menu__header {
        gap: 15px;
    }

    .menu__list {
        gap: 15px;
    }

    .img-header {
        width: 40px;
    }
}

@media screen and (max-width: 978px) {
    .menu__header {
        gap: 15px;
    }

    .menu__list {
        gap: 15px;
        font-size: 13px;
    }

    .img-header {
        width: 40px;
    }

    .nombre {
        font-size: 1rem;
    }
}


@media screen and (max-width: 768px) {
    .menu__header {
        gap: 10px;
    }

    .menu__list {
        gap: 10px;
        font-size: 9px;
    }

    .img-header {
        width: 20px;
    }

    .nombre {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .menu__header {
        gap: 10px;
    }

    .menu__list {
        font-size: 9px;
        flex-direction: column;
        position: absolute;
        top: 8%;
        right: 10%;
        padding: 10px;
        background: #1C7CE0;

        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
    }

    .img-header {
        width: 20px;
    }

    .nombre {
        font-size: 14px;
    }

    /* BARRA DE NAVEGACIÓN */
    #barra-navegacion {
        color: white;
        transition: .5s;
    }

    #barra-navegacion:active {
        transform: rotate(90deg);
    }

    summary {
        list-style: none;
    }

}