section.formulario {
    padding: 50px;
}

.formulario__title {
    color: white;
    font-size: 35px;
    border-bottom: solid .5px white;
    border-bottom-left-radius: 10%;
}

.formulario__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario--container-img {
    align-self: center;
}

.formulario__img {
    width: 250px;
}

.formulario__subtext {
    color: white;
    font-size: 20px;
}

.formulario__subtext.head {
    font-size: 20px;
    font-weight: 600;
}

.formulario__contacto {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px;
}

form.formulario__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.formulario__label {
    color: white;
    display: flex;
    flex-direction: column;
}

button.formulario__boton {
    height: 50px;
    font-size: 18px;
    align-self: center;
    text-align: center;
    margin-top: 40px;
}

.no-mostrar{
    display: none;
}

.input-message-error {
    
    color: red;
    font-size: 15px;
}

.error {
    border: solid 3px red;
}

