section.formulario {
    padding: 50px;
}

.formulario__title {
    color: white;
    font-size: 35px;
    border-bottom: solid .5px white;
    border-bottom-left-radius: 10%;
}

.formulario__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario--container-img {
    align-self: center;
}

.formulario__img {
    width: 250px;
}

.formulario__subtext {
    color: white;
    font-size: 20px;
}

.formulario__subtext.head {
    font-size: 20px;
    font-weight: 600;
}
