section#sobre-mi {
    padding: 50px;
}

.acercade__titulo{
    color: white;
    font-size: 35px;
    border-bottom: solid .5px white;
    border-bottom-left-radius: 10%;
}

.acercade__parrafo{
    color: white;
    font-size: 20px;
    text-align: justify;
}




/* --------------------------------------------------------------------------- */
/* -------------------MEDIA QUERYS - AJUSTE A PANTALLAS ---------------------- */
/* --------------------------------------------------------------------------- */

@media screen and (max-width: 978px) {
    section#sobre-mi {
        padding: 50px;
    }
    
    .acercade__titulo{
        font-size: 25px;
    }
    
    .acercade__parrafo{
        font-size: 16px;
    }
    
}

@media screen and (max-width: 768px) {
    section#sobre-mi {
        padding: 30px;
    }
    
    .acercade__titulo{
        font-size: 16px;
    }
    
    .acercade__parrafo{
        font-size: 10px;
    }
    
}

@media screen and (max-width: 500px) {
    section#sobre-mi {
        padding: 15px;
    }
    
    .acercade__parrafo{
        font-size: 9px;
    }
    
}

@media screen and (max-width: 350px) {
    section#sobre-mi {
        padding: 15px;
    }
    
    .acercade__parrafo{
        font-size: 9px;
    }
    
}
