section.education {
    padding: 50px;
}

.education__title {
    color: white;
    font-size: 35px;
    border-bottom: solid .5px white;
    border-bottom-left-radius: 10%;
}

.education__courses {
    display: flex;
    flex-direction: column;
}

.education__courses__box {
    display: flex;
    justify-content: space-evenly;
    height: 150px;
}

.education__courses__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #ffffff0f;
}

.education__img {
    width: 100px;
}

.education__courses__item__title {
    color: white;
    font-size: 30px;
}

.education__courses__item__subtitle {
    color: white;
    font-size: 20px;
}

/* --------------------------------------------------------------------------- */
/* -------------------MEDIA QUERYS - AJUSTE A PANTALLAS ---------------------- */
/* --------------------------------------------------------------------------- */

@media screen and (max-width: 978px) {
    section.education {
        padding: 50px;
    }

    .education__title {
        font-size: 25px;
    }

    .education__courses__item__title {
        font-size: 20px;
    }
    
    .education__courses__item__subtitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    section.education {
        padding: 30px;
    }

    .education__title {
        font-size: 16px;
    }

    .education__courses__item__title {
        font-size: 16px;
    }
    
    .education__courses__item__subtitle {
        font-size: 10px;
    }

    .education__img {
        width: 80px;
    }

}

@media screen and (max-width: 500px) {
    section.education {
        padding: 15px;
    }

    .education__courses__item__title {
        font-size: 14px;
    }
    
    .education__courses__item__subtitle {
        font-size: 8px;
    }

    .education__img {
        width: 60px;
    }

}

@media screen and (max-width: 350px) {
    section.education {
        padding: 15px;
    }

    .education__courses__item__title {
        font-size: 12px;
    }
    
    .education__courses__item__subtitle {
        font-size: 6px;
    }

    .education__img {
        width: 40px;
    }

}