
section.experience {
    padding: 50px;
}

.experience__section__title {
    color: white;
    font-size: 35px;
    border-bottom: solid .5px white;
    border-bottom-left-radius: 10%;
}

.experiencies__container {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 50px;
    flex-wrap: wrap;
}

.experiencie__box {
    width: 375px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px rgb(255 255 255 / 30%);
    background: linear-gradient(to bottom, #1C7CE0,#150051);
}

.experience__info {
    text-align: center;
}

.experience__title {
    color: white;
    font-size: 30px;
}

.experience__text {
    color: white;
    font-size: 20px;
}

.experience__description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.experience__muestra {
    width: 375px;
}

.experience__link {
    background: #ccc;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.experience__link:hover {
    background: #625c5c;
    color: white;
}



/* --------------------------------------------------------------------------- */
/* -------------------MEDIA QUERYS - AJUSTE A PANTALLAS ---------------------- */
/* --------------------------------------------------------------------------- */

@media screen and (max-width: 978px) {

    .experience__section__title {
        font-size: 25px;
    }

    .experiencies__container {
        gap: 50px;
        padding: 50px;
    }
    
    .experiencie__box {
        width: 375px;
    }

    .experience__title {
        font-size: 30px;
    }
    
    .experience__text {
        font-size: 20px;
    }
    
    .experience__description {
        gap: 30px;
    }

    .experience__link {
        width: 130px;
        height: 30px;
    }
}

@media screen and (max-width: 768px) {
    section.experience {
        padding: 30px;
    }

    .experience__section__title {
        font-size: 16px;
    }

    .experiencies__container {
        gap: 30px;
        padding: 30px;
    }

    .experiencie__box {
        width: 350px;
    }

    .experience__muestra {
        width: 350px;
    }

    .experience__title {
        font-size: 20px;
    }
    
    .experience__text {
        font-size: 16px;
    }
    
    .experience__description {
        gap: 20px;
    }

    .experience__link {
        width: 120px;
        height: 20px;
    }

}

@media screen and (max-width: 500px) {
    section.experience {
        padding: 15px;
    }

    .experiencies__container {
        gap: 20px;
        padding: 20px;
    }

    .experiencie__box {
        width: 250px;
    }

    .experience__muestra {
        width: 250px;
    }

    .experience__title {
        font-size: 16px;
    }
    
    .experience__text {
        font-size: 10px;
    }
    
    .experience__description {
        gap: 15px;
    }

    .experience__link {
        width: 100px;
        height: 20px;
    }


}

@media screen and (max-width: 350px) {
    section.experience {
        padding: 15px;
    }
}


